img { vertical-align: top; }

body { background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 50px) #333; font-family: "Poppins", "Noto Sans KR"; }

button { background: none; border: none; padding: 0; outline: none; }

.calendarWrap { position: absolute; right: 30px; top: 60px; width: 300px; }

.calendarWrap .inputBox { background-color: #fff; border-radius: 5px; margin-bottom: 10px; padding: 10px; }

.calendarWrap .inputBox input { width: 100%; height: 30px; outline: none; border: none; background-color: #f8f8f8; }

.calendarBox { display: none; z-index: 3; }

.calendarBox .inputBox { background: #fff; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 20px; margin-bottom: 10px; }

.calendarBox .inputBox input { height: 20px; width: 100%; border: none; }

.calendarBox .calendar { padding: 15px; background-color: #fff; -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2); box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2); }

.calendarBox .calendar .header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.calendarBox .calendar .header button { background: none; outline: none; border: none; }

.calendarBox .calendar .header .monthBox .month { font-weight: 700; }

.calendarBox .calendar .days { margin-bottom: 10px; margin-top: 10px; }

.calendarBox .calendar .days ul, .calendarBox .calendar .dates ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.calendarBox .calendar .days ul li, .calendarBox .calendar .dates ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: calc(100% / 7 - 4px); margin: 2px; position: relative; cursor: pointer; }

.calendarBox .calendar .days ul li.on span, .calendarBox .calendar .dates ul li.on span { background-color: #111; }

.calendarBox .calendar .days ul li.sun span, .calendarBox .calendar .dates ul li.sun span { background-color: #ec1111; }

.calendarBox .calendar .days ul li.today span, .calendarBox .calendar .dates ul li.today span { background-color: #1194ec; font-weight: 700; text-shadow: 1px 1px 0px #0e76bc,2px 2px 0px #0e76bc,3px 3px 0px #0e76bc,4px 4px 0px #0e76bc,5px 5px 0px #0e76bc,6px 6px 0px #0e76bc,7px 7px 0px #0e76bc,8px 8px 0px #0e76bc,9px 9px 0px #0e76bc,10px 10px 0px #0e76bc,11px 11px 0px #0e76bc,12px 12px 0px #0e76bc,13px 13px 0px #0e76bc,14px 14px 0px #0e76bc,15px 15px 0px #0e76bc,16px 16px 0px #0e76bc,17px 17px 0px #0e76bc,18px 18px 0px #0e76bc,19px 19px 0px #0e76bc,20px 20px 0px #0e76bc,21px 21px 0px #0e76bc,22px 22px 0px #0e76bc,23px 23px 0px #0e76bc,24px 24px 0px #0e76bc,25px 25px 0px #0e76bc,26px 26px 0px #0e76bc,27px 27px 0px #0e76bc,28px 28px 0px #0e76bc,29px 29px 0px #0e76bc,30px 30px 0px #0e76bc;; }

.calendarBox .calendar .days ul li.blank, .calendarBox .calendar .dates ul li.blank { visibility: hidden; opacity: 0; pointer-events: none; }

.calendarBox .calendar .days ul li:before, .calendarBox .calendar .dates ul li:before { content: ""; display: block; padding-top: 100%; }

.calendarBox .calendar .days ul li span, .calendarBox .calendar .dates ul li span { position: absolute; overflow: hidden; left: 0; top: 0; width: 100%; height: 100%; background-color: #666; -webkit-transition: 0.25s ease; transition: 0.25s ease; color: #fff; border-radius: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 12px; }

.chartBox { width: 80%; margin: 100px auto; }

#header { height: 50px; background-color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; text-shadow: 1px 1px 0px #e6e6e6,2px 2px 0px #e6e6e6,3px 3px 0px #e6e6e6,4px 4px 0px #e6e6e6,5px 5px 0px #e6e6e6,6px 6px 0px #e6e6e6,7px 7px 0px #e6e6e6,8px 8px 0px #e6e6e6,9px 9px 0px #e6e6e6,10px 10px 0px #e6e6e6,11px 11px 0px #e6e6e6,12px 12px 0px #e6e6e6,13px 13px 0px #e6e6e6,14px 14px 0px #e6e6e6,15px 15px 0px #e6e6e6,16px 16px 0px #e6e6e6,17px 17px 0px #e6e6e6,18px 18px 0px #e6e6e6,19px 19px 0px #e6e6e6,20px 20px 0px #e6e6e6,21px 21px 0px #e6e6e6,22px 22px 0px #e6e6e6,23px 23px 0px #e6e6e6,24px 24px 0px #e6e6e6,25px 25px 0px #e6e6e6,26px 26px 0px #e6e6e6,27px 27px 0px #e6e6e6,28px 28px 0px #e6e6e6,29px 29px 0px #e6e6e6,30px 30px 0px #e6e6e6;; font-weight: 700; font-size: 18px; }
